server:
  port: 9090 #端口好
spring:
  application:
    name: spring-cloud-eureka #应用程序名称
eureka:
  client:
    register-with-eureka: false #表示是否将自己注册到Eureka Server，默认为true
    fetch-registry: false               #表示是否从Eureka Server获取注册信息，默认为true:
    serviceUrl:
      #设置与Eureka Server交互的地址，查询服务和注册服务都需要依赖这个地址。默认是http://localhost:8761/eureka ；多个地址可使用 , 分隔。
      defaultZone: http://localhost:${server.port}/eureka/

